# **Import Libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder
import pickle

# **Import Dataset**

In [31]:
df=pd.read_csv("Car Data Set.csv", header=0, sep=',', encoding='Latin1',)

# **Read Dataset**

In [32]:
df.head()

,ï»¿S.No,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,1,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147,7,25.27 Lakh
1,2,Toyota Etios Cross 1.4L VD,Chennai,2014,70000,Diesel,Manual,Second,23.59 kmpl,1364 CC,67,5,9.27 Lakh
2,3,Skoda Rapid 1.6 MPI AT Style,Mumbai,2017,13500,Petrol,Automatic,First,14.84 kmpl,1598 CC,103,5,14.95 Lakh
3,4,BMW 5 Series 520d Luxury Line,Mumbai,2012,66889,Diesel,Automatic,First,22.48 kmpl,1995 CC,190,5,70.43 Lakh
4,5,Skoda Rapid 1.6 MPI Ambition,Jaipur,2018,4000,Petrol,Manual,First,15.41 kmpl,1598 CC,103,5,11.89 Lakh

In [33]:
df.shape

(182, 13)

In [34]:
print(df.Name.value_counts())

Mitsubishi Pajero Sport 4X2 AT    6
Maruti Vitara Brezza ZDi          4
Maruti Alto K10 VXI               4
Maruti Wagon R LXI                4
Honda Brio 1.2 S MT               3
                                 ..
Audi A4 35 TDI Technology         1
Tata Tiago 1.2 Revotron XZ        1
Nissan Micra Active XV            1
Toyota Fortuner 2.8 2WD MT        1
Hyundai Elite i20 Magna Plus      1
Name: Name, Length: 143, dtype: int64

In [35]:
df[df.Name != 'Mitsubishi Pajero Sport 4X2 AT']

,ï»¿S.No,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,1,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147,7,25.27 Lakh
1,2,Toyota Etios Cross 1.4L VD,Chennai,2014,70000,Diesel,Manual,Second,23.59 kmpl,1364 CC,67,5,9.27 Lakh
2,3,Skoda Rapid 1.6 MPI AT Style,Mumbai,2017,13500,Petrol,Automatic,First,14.84 kmpl,1598 CC,103,5,14.95 Lakh
3,4,BMW 5 Series 520d Luxury Line,Mumbai,2012,66889,Diesel,Automatic,First,22.48 kmpl,1995 CC,190,5,70.43 Lakh
4,5,Skoda Rapid 1.6 MPI Ambition,Jaipur,2018,4000,Petrol,Manual,First,15.41 kmpl,1598 CC,103,5,11.89 Lakh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,178,Tata Tiago 1.05 Revotorq XT Option,Pune,2016,41413,Diesel,Manual,First,27.28 kmpl,1047 CC,69,5,7.06 Lakh
178,179,Ford EcoSport 1.5 Petrol Ambiente,Kochi,2017,39015,Petrol,Manual,First,17.0 kmpl,1497 CC,121,5,8.79 Lakh
179,180,Jeep Compass 1.4 Sport,Mumbai,2018,6000,Petrol,Manual,First,16.0 kmpl,1368 CC,160,5,18.16 Lakh
180,181,Maruti Vitara Brezza ZDi,Kochi,2017,21380,Diesel,Manual,First,24.3 kmpl,1248 CC,89,5,10.57 Lakh
181,182,Hyundai Elite i20 Magna Plus,Kochi,2018,23955,Petrol,Manual,First,18.6 kmpl,1197 CC,82,5,7.08 Lakh

In [36]:
df=df.drop('Name',axis=1)

# **Cleaning The Dataset**

In [37]:
print(df.Transmission.value_counts())

Manual       118
Automatic     64
Name: Transmission, dtype: int64

In [38]:
df[df.Transmission != 'Manual']

,ï»¿S.No,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
2,3,Mumbai,2017,13500,Petrol,Automatic,First,14.84 kmpl,1598 CC,103,5,14.95 Lakh
3,4,Mumbai,2012,66889,Diesel,Automatic,First,22.48 kmpl,1995 CC,190,5,70.43 Lakh
9,10,Mumbai,2017,14000,Petrol,Automatic,First,23.84 kmpl,1199 CC,84,5,6.3 Lakh
11,12,Ahmedabad,2016,16000,Petrol,Automatic,First,19.16 kmpl,2487 CC,176,5,40.62 Lakh
14,15,Coimbatore,2018,53190,Diesel,Automatic,First,18.51 kmpl,1968 CC,148,5,44.8 Lakh
...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,Coimbatore,2017,22574,Diesel,Automatic,First,21.76 kmpl,1995 CC,190,5,62.07 Lakh
169,170,Mumbai,2018,18980,Petrol,Automatic,First,17.0 kmpl,1591 CC,121,5,15.14 Lakh
172,173,Kochi,2016,55615,Diesel,Automatic,First,22.48 kmpl,1995 CC,190,5,67.87 Lakh
173,174,Mumbai,2018,3800,Diesel,Automatic,First,24.3 kmpl,1248 CC,89,5,12.46 Lakh
174,175,Delhi,2017,14300,Diesel,Automatic,First,28.4 kmpl,1248 CC,74,5,9.11 Lakh

In [39]:
df=df.drop('Transmission',axis=1)

In [40]:
print(df.shape)

(182, 11)

In [43]:
df=df[(df.Power > 50) & (df.Power < 400)]

In [44]:
print(df.shape)

(180, 11)

In [45]:
df = df[(df.Year >= 1950) & (df.Year < 2017)]

In [46]:
print(df.shape)

(87, 11)

In [54]:
df.drop([ 'Year', 'New_Price' ], axis='columns',inplace=True)

In [48]:
new_df = df.copy()

In [57]:
new_df = new_df.drop_duplicates (['Fuel_Type' , 'Power', 'Kilometers_Driven', 'Owner_Type', 'Mileage'])

In [60]:
new_df.Owner_Type.replace(('First', 'Second'), ('Single', 'double'), inplace=True)

In [61]:
new_df.to_csv("autos_preprocessed.csv")

In [62]:
labels = ['Fuel_Type' , 'Power', 'Kilometers_Driven', 'Owner_Type', 'Mileage']

In [63]:
mapper = {}
for i in labels:
    mapper[i]=LabelEncoder()
    mapper[i].fit(new_df[i])
    tr = mapper[i].transform(new_df[i])
    np.save(str('classes'+i+ '.npy'), mapper[i].classes_)
    print(i, ":",mapper[i])
    new_df.loc[:, i + '_labels'] = pd.Series (tr, index=new_df.index)

Fuel_Type : LabelEncoder()
Power : LabelEncoder()
Kilometers_Driven : LabelEncoder()
Owner_Type : LabelEncoder()
Mileage : LabelEncoder()

In [66]:
labeled=new_df[ ['Fuel_Type'
                 ,'Mileage'
                 ,'Kilometers_Driven'
                 ,'Owner_Type'
                ]
               + [x+"_labels" for x in labels]]

In [67]:
print(labeled.columns)

Index(['Fuel_Type', 'Mileage', 'Kilometers_Driven', 'Owner_Type',
       'Fuel_Type_labels', 'Power_labels', 'Kilometers_Driven_labels',
       'Owner_Type_labels', 'Mileage_labels'],
      dtype='object')

# **Splitting Data Into Independent And Dependent Variables**

In [68]:
Y = labeled.iloc[:,0].values
X = labeled.iloc[:,1:].values

In [69]:
Y=Y.reshape(-1,1)

In [70]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=3)